body {
    background-color: rgb(186, 234, 236);
   
}

h1 {
    color: rgb(9, 236, 236);
    background-color: black;
    text-align: center;
}

h2 {
    color: rgb(177, 241, 103);
    background-color: #000;
    text-align: center;
}


h3 {
    color: rgb(239, 243, 12);
    background-color: black;
    text-align: center;
}

#nav-wrapper{
width: auto;
margin:0 auto;
padding: 20px 0;
background: #3d3331;
}

ul#nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: auto;
    overflow: auto;
}

ul#nav li {
    display: inline;
}

ul#nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 21px;
    background: #5F3222;
    color: #eee;
    float: none;
    text-align: center;
    border-top: 2px solid #815444;
    border-right: 2px solid #3d1000;
    border-bottom: 2px solid #3d1000;
    border-left: 2px solid #815444;
}

ul#nav li a:hover {
    background: #a37666;
    color: #000;
    border-top: 2px solid #815444;
    border-right: 2px solid #c59888;
    border-bottom: 2px solid #c59888;
    border-left: 2px solid #815444;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

footer {
    color: black;
    background-color: rgb(11, 218, 245);
    font-size: medium;
}


 .row {
     display: flex;
    
 }

 .column {
     flex: 45%;
     padding: 5px;
 }